.Button {
    /* background-color: transparent; */
    /* background-color: #CCC; */
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    /* font-weight: bold; */
    border: 0;
}

.Button:first-of-type {
    margin-left: 0;
    /* padding-left: 0; */
}

.Success {
    /* color: #5C9210; */
    background-color: #5C9210;
}

.Danger {
    /* color: #944317; */
    background-color:   #c23f0b;
}